body
{
    background: lightgray;
}
#out
{
    height: 500px;
    width: 500px;
  /*  border: 1px solid black;*/
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 400px;
    background: white;
}
ul
{
    list-style: none;
}
ul li
{
   /* border: 1px solid black;*/
    height: 50px;
    width: 400px;
    line-height: 50px;
}
#sub
{
    height: 40px;
    width: 150px;
}